.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  //background-color: rgba(0, 0, 0, 0.5);
  background: rgba(0,0,0,.288);
  z-index: 999;
}

.dialog {
  z-index: 1000;
  position: fixed;
  right: 0;
  left: 0;
  top: 30%;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
  display: block;
  padding: 24px;
  border-radius: 2px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  color: rgba(0,0,0,.87);
  height: max-content;
  width: max-content;
}

@media (min-width: 768px) {
  .dialog {
    top: 30%;
  }
}

.dialog__close-btn {
  border: 0;
  background: none;
  color: #2d2d2d;
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 1.2em;
}
