//$componentSize: 300px;
$componentSize: 260px;
$maskSize: 50px;
$speed: 2s;
$borderOffset: 8px;

$backgroundColor: transparent;
$animationProps: $speed linear infinite alternate;

@keyframes mask-move {
  0%   {
    transform: translateX(0);
  }
  100% {
    transform: translateX($componentSize - $maskSize);
  }
}

@media only screen and(max-width: 560px) {
  @keyframes mask-move {
    0%   {
      transform: translateX(0);
    }
    100% {
      transform: translateX($componentSize - 85px);
    }
  }
}

@keyframes mask-inner-move {
  0%   {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-($componentSize - $maskSize));
  }
}

@media only screen and(max-width: 560px) {
  @keyframes mask-inner-move {
    0%   {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-($componentSize - 85px));
    }
  }
}

.focus {
  height: 154px;
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 6px;
  line-height: 1;
  position: relative;
  width: $componentSize;
  text-align: left;

  &:before {
    content: 'Get Current Weather';
    filter: blur(3px);
  }

  &:after {
    content: '';
    position: absolute;
    width: $maskSize;
    height: calc(100% + #{$borderOffset});
    top: -($borderOffset / 2);
    left: 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
    animation: mask-move $animationProps;

    @media only screen and(max-width: 560px) {
      height: calc(80% + #{$borderOffset});
    }
  }

  &--mask {
    overflow: hidden;
    position: absolute;
    //width: 550px;
    width: $maskSize;
    height: 100%;
    top: 0;
    left: 0;
    background: $backgroundColor;
    animation: mask-move $animationProps;

    @media only screen and(max-width: 560px) {
      height: 80%;
    }

    &-inner {
      animation: mask-inner-move $animationProps;
    }
  }
}
