<div class="welcome">
  <header class="welcome__header">
    <div class="content">
      <div class="content__container">
        <p class="content__container__text">
          Hello
        </p>
        <ul class="content__container__list">
          <li class="content__container__list__item">world !</li>
          <li class="content__container__list__item">you !</li>
          <li class="content__container__list__item">users !</li>
          <li class="content__container__list__item">everybody !</li>
        </ul>
      </div>
    </div>
  </header>
  <section class="introduction__body">
    <div class="welcome__body__dot-pulses">
      <div id='c'>
        <div class='s'></div>
        <div class='s'></div>
        <div class='s'></div>
        <div class='s'></div>
        <div class='s'></div>
        <div class='s'></div>
      </div>
    </div>
    <div class="welcome__body__terminal">
      <div class="welcome__body__terminal__inner">
        <div class=fakeMenu>
          <div class="fakeButtons fakeClose"></div>
          <div class="fakeButtons fakeMinimize"></div>
          <div class="fakeButtons fakeZoom"></div>
        </div>
        <div class="fakeScreen">
          <p class="line1">&#91;&nbsp;&ldquo;I'm a web developer.&rdquo;,<span class="cursor1">_</span></p>
          <p class="line2">&nbsp;&nbsp;&ldquo;I'm an Angular developer.&rdquo;,<span class="cursor2">_</span></p>
          <p class="line3">&nbsp;&nbsp;&ldquo;Let's shine together!&rdquo;&nbsp;&#93;<span class="cursor3">_</span></p>
          <p class="line4">><span class="cursor4">_</span></p>
        </div>
      </div>
    </div>
  </section>
</div>


