@import "../mixins";
@import "../shared/custom-scroll";
@import "../shared/bird";

@keyframes fadeInLetterSize {
  0% {
    opacity: 0;
    font-size: 1px;
    transform: translateX(-50px) translateY(-150%);
    //transform: rotate(15deg) translate(-50px, -150%);
    //transform: rotate(10deg) translateY(150px);
  }

  100% {
    opacity: 1;
    font-size: 30px;
    transform: translateX(2px) translateY(-1%);
    //transform: translate(15px, 0%);
  }
}

.fadeInLetterSize {
  animation-name: fadeInLetterSize;
  animation: fadeInLetterSize 1.1s ease-in-out;
  //animation: fadeInLetterSize 2s cubic-bezier(.17, .67, .5, .12);
}

.weather-details {

  #map {
    margin: 18px 0 0 0;
    display: inline-block;
    width: 100%;
    height: 363px;
    border: 1px solid #ddd;
  }

  &__header, &__body {
    color: #505050;
  }

  &__header {
    @include font-style(30px, 'Roboto');
    position: fixed;
    top: 60px;
    z-index: 1;
    padding: 10px 0 10px 10%;
    width: 100%;
    opacity: .85;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    text-align: left;

    @media only screen and(max-width: 1465px) {
      padding-left: 5%;
    }

    @media only screen and(max-width: 980px) {
      padding-left: 0;
      text-align: center;
    }

    @media only screen and(max-width: 660px) {
      font-size: 25px;
    }

    @media only screen and(max-width: 534px) {
      text-align: left;
      padding-left: 32px;
      font-size: 20px;
    }
  }

  &__body {
    @include font-style(14px, 'Roboto');
    margin-top: 150px;

    .widget-wrapper {
      display: flex;
      justify-content: space-evenly;

      @media only screen and(max-width: 1460px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      @media only screen and(max-width: 980px) {
        margin-bottom: 0;
      }
    }

    &__datapicker {
      margin-left: 45px;
      margin-bottom: 20px;

      @media only screen and(max-width: 660px) {
        margin-left: 12px;
      }

      @media only screen and(max-width: 384px) {
        margin-left: 45px;

        .mat-form-field {
          max-width: 105px;
        }
      }

      &--button, .mat-raised-button {
        margin-left: 20px;
        padding: 0;
        outline: none;

        @media only screen and(max-width: 384px) {
          font-size: 12px;
        }
      }
    }

    &--widget__today {
      margin-top: 18px;
      display: inline-block;
      min-width: 460px;
      height: fit-content;
      background: no-repeat center / cover url("../../assets/images/weatherDetails1.jpg");

      @media only screen and(max-width: 1460px) {
        align-self: center;
        width: 35%;
      }

      @media only screen and(max-width: 660px) {
        min-width: 400px;
      }

      @media only screen and(max-width: 534px) {
        width: 100%;
        min-width: 100%;
      }

      &__city-info, &__temp {
        margin-top: 15px;
        margin-bottom: 10px;
        color: #fefefe;
        font-weight: 600;
        text-shadow: 1px 1px 6px rgb(22, 21, 21);
      }

      &__city-info {
        padding-left: 15px;
        font-size: 24px;
      }

      &__temp {
        padding-left: 10px;
        font-size: 30px;

        &--icon {
          display: inline-block;
          height: 50px;
          vertical-align: middle;
        }
      }

      &__description, &__weather-date {
        margin: 0 0 10px 0;
        padding-left: 15px;
        color: #fefefe;
        font-weight: 400;
        text-shadow: 1px 1px 6px rgb(22, 21, 21);
      }

      &__items {
        border: 1px solid #ddd;
        width: 100%;
        max-width: 100%;
        border-collapse: collapse;
        border-spacing: 0;

        &__body {

          &__item {
            background-color: #eee;
            opacity: 0.7;
          }

          &__item {

            td {
              padding: 5px;
              border: 1px solid #ddd;
            }

            &__data {
              width: 60%;
              padding-left: 15px !important;
            }
          }
        }
      }
    }

    &__forecast {
      display: inline-block;
      width: 40%;

      &__title {
        width: 489px;
        margin: 0 0 10px 5px;
        padding: 10px 0;
        line-height: 1.5;
        font-size: 24px;

        @media only screen and(max-width: 660px) {
          min-width: 50px;
          max-width: 363px;
          font-size: 20px;
        }

        @media only screen and(max-width: 386px) {
          font-size: 15px;
          max-width: 271px;
        }

        @media only screen and(max-width: 298px) {
          font-size: 13px;
          max-width: 239px;
        }

        &:hover {
          font-weight: 500;
        }
      }

      &__list {
        display: table;
        min-width: fit-content;
        max-width: 32%;
        margin-left: 42px;
        border-collapse: separate;
        background-color: transparent;
        border: 1px solid #ddd;
        border-radius: 5px;

        @media only screen and(max-width: 980px) {
          align-self: center;
          width: fit-content;
        }

        @media only screen and(max-width: 660px) {
          min-width: 333px;
          margin-left: 0;
        }

        &--body {
          display: block;
          height: 600px;
          overflow: auto;
        }

        .date-picked {
          height: auto;
        }

        &__items {
          display: table-row;
          line-height: 19.6px;

          .second-half {
            @media only screen and(max-width: 660px) {
              padding-right: 0;
              font-size: 12px;
            }

            &--wrapper {
              display: flex;

              .icon-five-day {
                margin-right: 10px;
                display: flex;
                width: 40px;
                height: 20px;

                img {
                  align-self: center;
                  width: 40px;
                  height: 40px;
                }
              }
            }
          }

          &--today {
            display: inline-block;
            font-weight: bold;
          }

          .first-half {
            width: 50%;

            @media only screen and(max-width: 835px) {
              padding-right: 0;
            }

            @media only screen and(max-width: 660px) {
              font-size: 12px;
            }
          }

          td {
            padding: 8px;
            vertical-align: middle;
            border-bottom: 1px solid #ddd;
          }

          &--date {
            display: inline-block;
          }

          &--temp {
            display: inline-block;
            font-size: 20px;
            font-weight: 600;

            @media only screen and(max-width: 835px) {
              font-size: 15px;
            }
          }

          &--desc {
            vertical-align: middle;
            font-style: italic;
          }

          &--wind {
            padding: 3px 0;
          }
        }

        .today {
          background-color: #eee;
        }
      }
    }
  }
}
