<div class="search-city">
  <header class="search-city__header">
    <div class="focus search-city__header__title">
      <div class="focus--mask">
        <div class="focus--mask-inner">Get Current Weather</div>
      </div>
    </div>
  </header>
  <section class="search-city__body">
    <form [formGroup]="cityForm" class="search-city__body__form" (ngSubmit)="onSubmit(cityForm)" autocomplete="on">
      <input formControlName="cityName"
             #cityNameFocus
             [autofocus]
             type="text"
             [class.error]="(cityName.errors?.isRequired || !cityForm.value.cityName) && !isKeyboard && mouseoverSearch"
             name="cityName"
             placeholder="Enter city or multiple cities(e.g. Paris, London)"
             class="search-city__body__form__input">
      <div class="keyboard" [class.keyboardOpen]="isKeyboard">
        <input [matKeyboard]="'Gouda'"
               formControlName="cityName"
               class="keyboard__input"
               matTooltip="Open keyboard"
               spellcheck="false">
        <mat-icon *ngIf="!isKeyboard" class="mat-icon material-icons">keyboard</mat-icon>
      </div>
      <div *ngIf="isKeyboard" [style.position]="'absolute'">
        <button mat-raised-button
                matTooltip="Close keyboard"
                aria-label="Button that displays a tooltip when focused or hovered over"
                [matTooltipPosition]="'above'"
                type="button"
                (click)="closeCurrentKeyboard()">
        <span class="mat-raised-button__icons">
          <img class="mat-raised-button__icons--keyboard"
               src="../../../assets/images/keyboard-mouse.png"
               alt="Keyboard icon">
        </span>
        </button>
      </div>
      <span (mouseenter)="mouseoverSearch = true"
            (mouseleave)="mouseoverSearch = false"
            class="button-wrapper">
        <button type="submit"
                [style.margin-left]="isKeyboard == true ? '-2px' : '-35px'"
                [disabled]="!cityForm.value.cityName || cityName.errors?.invalidPattern ||
                            cityName.errors?.invalidLetterCases"
                [style.cursor]="!cityForm.value.cityName || cityName.errors?.invalidPattern ||
                                cityName.errors?.invalidLetterCases ? 'not-allowed' : 'pointer'"
                class="search-city__body__form__button">
          Search
        </button>
      </span>
      <div *ngIf="validateCityName()" class="search-city__body__form--errors">
        <em *ngIf="(cityName.errors?.isRequired || !cityForm.value.cityName) && !isKeyboard && mouseoverSearch">*City name is required</em>
        <em *ngIf="cityName.errors?.invalidPattern">*Cities must be separated by comma and contain only letters</em>
        <em *ngIf="cityName.errors?.invalidLetterCases">*City name cannot be uppercase</em>
      </div>
    </form>
  </section>
</div>
