<nav class="search-results__nav" *ngIf="!(cities?.length === 0)">
  <div class="search-results__nav__items" [style.display]="cities?.length >= 5 ? 'flex' : ''">
    <div *ngIf="cities?.length < 5" class="search-results__nav__items__wrapper"
         [ngStyle]="{'display' : currentScreenWidth > breakpointSmallScreen == true ? 'inline-block' : 'none'}">
      <div *ngFor="let city of cities" class="search-results__nav__items__box">
        <span class="search-results__nav__items__box--name">{{city}}</span>
        <span class="search-results__nav__items__box--close" (click)="removeCity(city)"></span>
      </div>
    </div>
    <div class="search-results__nav__items--tag"
         *ngIf="cities?.length >= 5 || currentScreenWidth < breakpointSmallScreen"
         [class.small-screen]="currentScreenWidth < breakpointSmallScreen && cities?.length < 5"
         (click)="openDropdown($event)">
      <mat-icon class="mat-icon material-icons">arrow_drop_down_circle</mat-icon>
    </div>
    <!--<div class="search-results__nav__items__clear-city-boxes" (click)="openDialog()"><a>Clear All</a></div>-->
    <div class="search-results__nav__items__clear-city-boxes" (click)="openModal()"><a>Clear All</a></div>
  </div>
</nav>
<dropdown *ngIf="(cities?.length >= 5 || currentScreenWidth < breakpointSmallScreen) && isOpen"
          [cities]="cities" [isOpen]="isOpen"
          (removedCity)="updateCityItems($event)"></dropdown>
