<nav-bar [weathers]="weathers"></nav-bar>
<loader *ngIf="weathers?.length === 0 && !filterValue && !isAllWeathersRemoved && !removedWeather"></loader>
<div class="search-results" *ngIf="weathers">
  <div class="search-results__functionalities">
    <span class="search-results__functionalities--sort-name" matTooltip="Sort weather forecast by city name">
      <span>By city name</span>
      <button mat-raised-button>
        <mat-icon *ngIf="!sortDownName"
                  class="mat-icon"
                  (click)="sortByCityNames('desc')">
          keyboard_arrow_down
        </mat-icon>
        <mat-icon *ngIf="sortDownName" class="mat-icon">
          arrow_drop_down
        </mat-icon>
        <mat-icon *ngIf="!sortUpName"
                  class="mat-icon"
                  (click)="sortByCityNames('asc')">
          keyboard_arrow_up
        </mat-icon>
        <mat-icon *ngIf="sortUpName" class="mat-icon">
          arrow_drop_up
        </mat-icon>
      </button>
    </span>
    <span class="search-results__functionalities--sort-temp" matTooltip="Sort weather forecast by temperature">
      <span>By temperature</span>
      <button mat-raised-button>
        <mat-icon *ngIf="!sortDownTemp" class="mat-icon"
                  (click)="sortByTemperature('desc')">
          keyboard_arrow_down
        </mat-icon>
        <mat-icon *ngIf="sortDownTemp" class="mat-icon">
          arrow_drop_down
        </mat-icon>
        <mat-icon *ngIf="!sortUpTemp" class="mat-icon"
                  (click)="sortByTemperature('asc')">
          keyboard_arrow_up
        </mat-icon>
        <mat-icon *ngIf="sortUpTemp" class="mat-icon">
          arrow_drop_up
        </mat-icon>
      </button>
    </span>
    <span *ngIf="isSort"
          @moveUndoButtonAnimation
          class="search-results__functionalities--undo-sort"
          matTooltip="Undo sort"
          (click)="undoSort()">
      <button mat-raised-button class="fadeIn">
        <mat-icon class="mat-icon">
          undo
        </mat-icon>
      </button>
    </span>
    <span class="search-results__functionalities--filter-name">
      <mat-form-field>
        <input matInput
               type="text"
               placeholder="Filter city/cities"
               [(ngModel)]="filterValue"
               [disabled]="weathers?.length === 0"
               (keyup)="filterCity(filterValue, $event)">
        <!--<button mat-button *ngIf="filterValue" matSuffix mat-icon-button aria-label="Search" (click)="filterCity(filterValue, $event)">
          <mat-icon class="mat-icon">search</mat-icon>
        </button>-->
        <button mat-button *ngIf="filterValue" matSuffix mat-icon-button aria-label="Clear" (click)="resetSearch()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </span>
  </div>
  <hr class="search-results__breakline">
  <div class="search-results__body" [class.custom-height]="weathers?.length === 0">
    <city-weather [cityWeathers]="weathers | filter:filterValue:'cityName'"></city-weather>
    <map-cities *ngIf="weathers?.length > 0" [weathers]="weathers"></map-cities>
    <div @searchResults
         (@searchResults.done)="animationDone($event)"
         *ngIf="weathers?.length === 0 && (filterValue || isAllWeathersRemoved || removedWeather)"
         class="city-weather__section">
      <span class="city-weather__section--message">There is no city for search</span>
      <a routerLink="/search_city" class="city-weather__section--link">Go to search weather page</a>
    </div>
  </div>
</div>
<app-modal [(visible)]="showModal">
  <div class="dialog-box">
    <h1 mat-dialog-title class="dialog-box__title"> Are you sure you want to delete all <br>weather forecasts?</h1>
    <div class="button-row dialog-box__buttons">
      <button mat-mini-fab (click)="closeModal()" color="primary">No</button>
      <button mat-mini-fab (click)="closeModal('yes')" color="warn">Yes</button>
    </div>
  </div>

</app-modal>
