.pointable {
  margin: 50px auto 0 auto;
  width: min-content;
  display: flex;
  flex-direction: column;

  @media only screen and(max-width: 1460px) {
    margin: 0 auto;
  }

  @media only screen and(max-width: 980px) {
    display: flex;
    flex-direction: column;
  }

  &__header {
    width: max-content;
    cursor: pointer;

    @media only screen and(max-width: 1460px) {
      padding-top: 50px;
    }

    @media only screen and(max-width: 980px) {
      align-self: center;
    }

    @media only screen and(max-width: 535px) {
      //margin-left: 15px;
    }

    i {
      border: solid #505050;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;

      @media only screen and(max-width: 660px) {
        padding: 2px;
      }

      @media only screen and(max-width: 386px) {
        position: relative;
        top: -1px;
      }
    }

    .arrow-right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }

    &--title {
      display: inline-block;
      vertical-align: -webkit-baseline-middle;

      @media only screen and(max-width: 660px) {
        text-align: left;
      }
    }
  }
}
