<nav-bar></nav-bar>
<!--<div class="container">
  <div class="bird-container bird-container&#45;&#45;one">
    <div class="bird bird&#45;&#45;one"></div>
  </div>
  <div class="bird-container bird-container&#45;&#45;two">
    <div class="bird bird&#45;&#45;two"></div>
  </div>
  <div class="bird-container bird-container&#45;&#45;three">
    <div class="bird bird&#45;&#45;three"></div>
  </div>
  <div class="bird-container bird-container&#45;&#45;four">
    <div class="bird bird&#45;&#45;four"></div>
  </div>
</div>-->
<main class="weather-details">
  <header class="weather-details__header">
    <h3 class="weather-details__header--title fadeInLetterSize">Weather forecast {{weather?.cityName}},
      {{weather?.cityCountry}}</h3>
  </header>
  <section class="weather-details__body">
    <div class="widget-wrapper">
      <div class="weather-details__body--widget__today" style="display: block">
        <h2 class="weather-details__body--widget__today__city-info">{{weather?.cityName}}, {{weather?.cityCountry}}</h2>
        <h3 class="weather-details__body--widget__today__temp">
          <span class="weather-details__body--widget__today__temp--icon" *ngIf="weather">
            <img src="http://openweathermap.org/img/w/{{weather?.weatherIcon}}.png" alt="Weather icon">
          </span>
          {{weather?.temperature}}&deg;C
        </h3>
        <p class="weather-details__body--widget__today__description">{{weather?.description}}</p>
        <p class="weather-details__body--widget__today__weather-date">{{weather?.date | formatDate}}</p>
        <table class="weather-details__body--widget__today__items">
          <tbody class="weather-details__body--widget__today__items__body">
          <tr class="weather-details__body--widget__today__items__body__item">
            <td class="weather-details__body--widget__today__items__body__item__data">Wind</td>
            <td>{{weather?.windSpeed}}m/s</td>
          </tr>
          <tr class="weather-details__body--widget__today__items__body__item">
            <td class="weather-details__body--widget__today__items__body__item__data">Pressure</td>
            <td>{{weather?.pressure}}hpa</td>
          </tr>
          <tr class="weather-details__body--widget__today__items__body__item">
            <td class="weather-details__body--widget__today__items__body__item__data">Humidity</td>
            <td>{{weather?.humidity}}%</td>
          </tr>
          <tr class="weather-details__body--widget__today__items__body__item">
            <td class="weather-details__body--widget__today__items__body__item__data">Min temp at this moment</td>
            <td>{{weather?.minTemp}}&#8451;</td>
          </tr>
          <tr class="weather-details__body--widget__today__items__body__item">
            <td class="weather-details__body--widget__today__items__body__item__data">Max temp at this moment</td>
            <td>{{weather?.maxTemp}}&#8451;</td>
          </tr>
          <tr class="weather-details__body--widget__today__items__body__item">
            <td class="weather-details__body--widget__today__items__body__item__data">Sunrise</td>
            <td>{{(weather?.sunrise | formatDate)?.split(', ')[1]}}</td>
          </tr>
          <tr class="weather-details__body--widget__today__items__body__item">
            <td class="weather-details__body--widget__today__items__body__item__data">Sunset</td>
            <td>{{(weather?.sunset | formatDate)?.split(', ')[1]}}</td>
          </tr>
          <tr class="weather-details__body--widget__today__items__body__item">
            <td class="weather-details__body--widget__today__items__body__item__data">Geo coords</td>
            <td>[{{weather?.coord?.lat}},{{weather?.coord?.lon}}]</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div style="position: relative; align-self: center; width:40vw">
        <canvas #canvas id="canvas" style="height: 220px; width: 350px">{{chart}}</canvas>
      </div>
    </div>
    <collapsible-forecast>
      <div well-title class="weather-details__body__forecast__title">5 days weather forecast in every 3 hours</div>
      <div well-datepicker class="weather-details__body__datapicker">
        <mat-form-field class="example-full-width">
          <input matInput
                 [min]="minDate"
                 [max]="maxDate"
                 [(ngModel)]="choosenDate"
                 [matDatepicker]="picker"
                 [placeholder]="choosenDate ? 'Choosen date' : 'Choose date'"
                 disabled
                 (dateChange)="onDateChange($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false" style="outline: none;"></mat-datepicker>
        </mat-form-field>
        <button class="weather-details__body__datapicker--button" mat-raised-button
                (click)="resetDatepickerToInitialState()">Clear date
        </button>
      </div>
      <table well-body class="weather-details__body__forecast__list">
        <tbody class="weather-details__body__forecast__list--body scrollable" [class.date-picked]="choosenDate">
        <tr *ngFor="let w of weathers" class="weather-details__body__forecast__list__items">
          <td class="first-half" [class.today]="isToday(w.date)">
            <span class="weather-details__body__forecast__list__items--date">{{w?.date | formatDate}}</span>
            <span class="weather-details__body__forecast__list__items--temp" [ngStyle]="{'margin-left.px': 5}">
              {{w?.temperature}}&deg;C
            </span>
            <div *ngIf="isToday(w.date)" class="weather-details__body__forecast__list__items--today">Today</div>
          </td>
          <td class="second-half" [class.today]="isToday(w.date)">
            <p class="second-half--wrapper">
                <span class="icon-five-day">
                  <img src="http://openweathermap.org/img/w/{{w?.weatherIcon}}.png" alt="Weather icon">
                </span>
              <i class="weather-details__body__forecast__list__items--desc">{{w?.description}}</i>
            </p>
            <p class="weather-details__body__forecast__list__items--wind">{{w?.windSpeed}}m/s</p>
            <p class="weather-details__body__forecast__list__items--humidity-and-pressure">
              humidity: {{w?.humidity}}%,&nbsp;{{w.pressure}}hpa
            </p>
          </td>
        </tr>
        </tbody>
      </table>
    </collapsible-forecast>
    <div id="map"></div>
  </section>
</main>
