<div class="dialog-box">
  <h1 mat-dialog-title class="dialog-box__title"> Are you sure you want to delete all <br>weather forecasts?</h1>
  <div class="button-row dialog-box__buttons">
    <button mat-mini-fab (click)="closeDialog('no')" color="primary">No</button>
    <button mat-mini-fab (click)="closeDialog('yes')" color="warn">Yes</button>
  </div>
</div>
