<div class="pointable">
  <div class="pointable__header"
       (click)="toggleContent()"
       [attr.title]="visible ? 'Remove 5 day weather forecast...' : 'See 5 day weather forecast...'">
    <i *ngIf="!visible" class="arrow-right"></i>
    <h3 class="pointable__header--title"
        [ngStyle]="getStartStyle()">
      <ng-content select="[well-title]"></ng-content>
    </h3>
  </div>
  <ng-content *ngIf="visible" select="[well-datepicker]"></ng-content>
  <ng-content *ngIf="visible" select="[well-body]"></ng-content>
</div>
