@import "../mixins";

.button-row button,
.button-row a {
  margin-right: 8px;
}

.dialog-box {

  &__title {
    @include font-style(20px, 'Roboto');
    margin-bottom: 20px;
    line-height: 25px;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;

    .mat-mini-fab {
      min-width: 80px;
      outline: none;
    }
  }
}
