@mixin hover-state($color, $delay) {
  color: $color;
  transition: background-color $delay ease;
}

@mixin font-style($size, $family) {
  font-family: $family, sans-serif;
  font-size: $size;
}

@mixin animate($animation, $duration, $repeat, $easing) {
  -webkit-animation: $animation $duration $repeat $easing;
  -moz-animation: $animation $duration $repeat $easing;
  -ms-animation: $animation $duration $repeat $easing;
  animation: $animation $duration $repeat $easing;
}


@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
