@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/scss/bootstrap";
@import "~ngx-toastr/toastr-bs4-alert";
@import './reset';

.toast-top-center {
  top: 15%;
  margin: 0 auto;
}
