@import "../shared/custom-scroll";

.dropdown {
  position: absolute;
  z-index: 2;
  top: 57px;
  width: 200px;
  height: 250px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #c6d2d9;
  box-shadow: 0 0 7px #ccc;

  &__form-field {
    margin-left: 11px;
    width: 160px;
    height: 50px;
  }

  &__message {
    padding: 10px 20px;
    color: #999;
    font-size: 12px;

    &:hover {
      background-color: #e4eaee;;
    }
  }

  &__values {
    .mat-option {
      .mat-checkbox {
        width: 100px;
        margin-left: 15px;
      }
    }
  }
}
