<div [ngClass]="{'fadeIn': isFadeIn === true}"
     @weatherItemsAnimation
     class="city-weather-wrapper"
     [class.sorted]="isSort"
     *ngFor="let weather of cityWeathers">
  <div class="city-weather"
       [routerLink]="['/city_weather', weather?.cityName, 'details']"
       (click)="addMessage(weather?.cityName)">
    <div class="city-weather__one">
      <span class="city-weather__one--cityName">{{weather?.cityName}}</span>
      <span class="city-weather__one--forecastDate">{{date | date: 'MMM d'}}th</span>
    </div>
    <div class="city-weather__two">
      <div class="city-weather__two--temp">{{weather?.temperature | number: '2.0'}}<sub>&#8451;</sub></div>
      <img src="http://openweathermap.org/img/w/{{weather?.weatherIcon}}.png"
           alt="Weather icon"
           class="city-weather__two--temp__icon">
    </div>
    <div class="city-weather__three">
      <span class="city-weather__three--humidity">Humidity: {{weather?.humidity}}%</span>
      <span class="city-weather__three--wind">Wind: {{weather?.windSpeed | convertMeasure}}km/h</span>
    </div>
  </div>
</div>
