<div class="nav-bar--container">
  <nav class="nav-bar navbar-toggleable-md navbar-light bg-faded"
       [class.fixed-position-nav]="currentUrl.endsWith('details')">
    <div class="nav-bar--wrapper">
      <a class="navbar-brand" routerLink="/search_city">
        <img src="../../../assets/images/favicon.ico" alt="Home icon">
      </a>
      <ul class="nav-bar--list">
        <li class="nav-item nav-bar--list--item" *ngIf="!currentUrl.endsWith('/search_results')">
          <a class="nav-link nav-bar--link" routerLink="/search_results">Weather forecasts</a>
        </li>
      </ul>
    </div>
    <div *ngIf="currentUrl.endsWith('/search_results')">
      <search-results-nav-bar [weathers]="weathers"></search-results-nav-bar>
    </div>
  </nav>
  <hr class="nav-bar-breakline">
</div>
