@import "../mixins";

.nav-bar--container {
  background: linear-gradient(#EDFAFF, #BBE8FC);
}

.nav-bar {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 60px;
  background: linear-gradient(#EDFAFF, #BBE8FC);

  @media only screen and(max-width: 1065px) {
    width: 80%;
  }

  @media only screen and(max-width: 850px) {
    width: 100%;
    padding-right: 2%;
  }

  @media only screen and(max-width: 650px) {
    padding-right: 3%;
  }

  @media only screen and(max-width: 430px) {
    padding-right: 4%;
  }

  &--wrapper {
    display: flex;
    align-self: center;

    @media only screen and(max-width: 980px) {
      width: 5%;
      min-width: 45px;
    }

    @media only screen and(max-width: 370px) {
      width: 20%;
    }
  }

  .navbar-brand {
    @include font-style(20px, 'Roboto');

    img {
      width: 45px;
    }
  }

  &--list {
    height: 30px;
    align-self: center;

    &--item {
      display: inline-block;
    }
  }

  &--link {
    @include font-style(16px, 'Roboto');
    color: #5A6B7B;

    &:hover {
      color: #03A9F4;
    }

    &__price {
      padding-left: 0;
    }
  }

  &-breakline {
    margin: 0px;
    border: 1px solid gainsboro;
  }
}

.fixed-position-nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  opacity: 0.85;
  //padding-left: 172px;
  padding-left: 10%;

  @media only screen and(max-width: 1465px) {
    padding-left: 5%;
  }
}
