@import "../mixins";

@keyframes fadeIn {
  from {
    opacity: 0;
    background-color: #74ebed;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation: fadeIn 1.5s ease-out;
}

.city-weather-wrapper {
  margin: 0 10px 20px 10px;
  display: inline-block;
  width: 30%;
  min-width: 315px;
  background-color: white;

  @media only screen and(max-width: 1430px) {
    min-width: 250px;
  }

  @media only screen and(max-width: 1388px) {
    width: 47%;
    display: inline-block;
  }

  @media only screen and(max-width: 1275px) {
    display: block;
    margin: 0 auto 30px auto;
    width: 45%;
    min-width: 420px;
  }

  @media only screen and(max-width: 560px) {
    min-width: 300px;
  }

  @media only screen and(max-width: 350px) {
    min-width: 260px;
  }
}

.city-weather {
  @include font-style(15px, 'Roboto');
  display: flex;
  justify-content: space-between;
  height: fit-content;
  transition: background-color 1s ease-out;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),
              0 1px 1px 0 rgba(0,0,0,.14),
              0 1px 3px 0 rgba(0,0,0,.12);

  &:hover {
    background-color: gray;
    opacity: 0.6;
    cursor: pointer;
    outline: none;
    transition: background-color 1s ease;

    .city-weather__one {
      &--cityName {
        color: #fefefe;
        font-size: 17px;
        font-style: italic;
        transition-property: color, background;
        transition-duration: 0.5s, 0.5s;
        transition-timing-function: linear, ease-in;
      }

      &--forecastDate {
        @include hover-state(#fefefe, 1s);
      }
    }

    .city-weather__two, .city-weather__three {
      &--temp, &--description, &--humidity, &--wind {
        @include hover-state(#fefefe, 1s);
      }
    }
  }

  &__one {
    margin-left: 10px;
  }

  &__two {
    text-align: center;
  }

  &__three {
    margin-right: 10px;
  }

  &__one, &__two, &__three {
    display: inline-block;
    align-self: center;

    &--cityName, &--temp, &--humidity {
      display: block;
    }

    &--forecastDate, &--description, &--humidity, &--wind {
      font-size: 13px;
      color: #cccccc;
    }

    &--cityName {
      cursor: pointer;
      padding: 5px;

      @media only screen and(max-width: 1320px) {
        font-size: 14px;
      }

      @media only screen and(max-width: 1275px) {
        font-size: 15px;
      }
    }

    &--forecastDate {
      padding-left: 5px;
    }

    &--humidity {
      padding: 5px 0;
    }

    &--temp {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 28px;

      &__icon {
        width: 40px;
        height: 40px;
      }

      @media only screen and(max-width: 1320px) {
        font-size: 25px;
      }

      @media only screen and(max-width: 1275px) {
        font-size: 35px;
      }

      sub {
        font-size: 10px;
      }
    }
  }
}

.sorted {
  margin: 10px auto;
  display: block;
  width: 40%;
}
