<div class="dropdown scrollable" click-outside (clickOutside)=onClickOutside($event)>
  <!--<mat-option #allSellected [value]="selected" (click)="setDeleteWeathers(weathers, allSellected.selected)">Select all</mat-option>-->
  <mat-form-field class="dropdown__form-field">
    <input matInput
           [autofocus]
           type="text"
           placeholder="Delete city/cities"
           [(ngModel)]="filterValue">
  </mat-form-field>
  <div class="dropdown__message" *ngIf="cities.length === 0">No city found for "{{filterValue}}"</div>
    <div class="dropdown__values" *ngFor="let city of cities | filter: filterValue; let i = index">
      <mat-option>
        <mat-checkbox [(ngModel)]="selected && cities[i]"
                      [(indeterminate)]="indeterminate"
                      (change)="toggleSelection($event, city)"
                      [value]="city">
          {{city}}
        </mat-checkbox><!--[checked]="allSellected.selected"-->
      </mat-option>
    </div>
</div>
