@import "../mixins";
//@import '~compass-mixins/lib/compass/css3';
@import "../shared/in-out-of-focus";

.keyboard {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
  right: 37px;
  top: 36px;

  @media only screen and(max-width: 1250px) {
    display: none;
  }

  &__input {
    position: absolute;
    z-index: 2;
    bottom: 35px;
    background: transparent;
    width: inherit;
    height: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    color: transparent;

    @media only screen and(max-width: 1250px) {
      display: none;
    }

    &:focus {
      color: transparent;
    }
  }

  .mat-icon {
    position: relative;
    z-index: 1;
    bottom: 30px;
    left: 4px;
  }
}

.search-city {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background: no-repeat center / cover url("../../assets/images/Weather-insights.jpg");

  .mat-raised-button {
    position: absolute;
    bottom: 4px;
    height: 34px;
    left: 345px;
    outline: none;
    box-shadow: none;

    @media only screen and(max-width: 560px) {
      display: none;
    }

    &__icons {
      display: inline-block;
      height: 30px;
      vertical-align: -webkit-baseline-middle;

      &--keyboard {
        width: 25px;
      }

      .mat-icon {
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }

  .mat-raised-button, .mat-button-ripple, .mat-button-focus-overlay {
    padding: 0;
    min-width: 35px;
    height: 35px;
  }

  &__header {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 6px rgb(22, 21, 21);

    @media only screen and(max-width: 560px) {
      height: 280px;
    }

    &__title {
      align-self: center;
      font-size: 50px;
      color: white;

      @media only screen and(max-width: 560px) {
        margin-left: 20px;
        font-size: 40px;
      }
    }
  }

  &__body {
    display: flex;
    justify-content: center;

    &__form {
      margin-top: 50px;
      position: relative;
      z-index: 2;
      height: 39px;

      @media only screen and(max-width: 560px) {
        margin-top: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
      }

      em {
        display: block;
        padding: 5px;
        width: fit-content;
        color: #D8000C;
        font-weight: bold;
        font-style: italic;
      }

      &__input[type=text] {
        @include font-style(16px, 'Roboto');
        display: inline-block;
        width: 382px;
        padding: 8px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        box-shadow: inset 0 1px 2px rgba(10, 10, 10, .1);
        border: 1px solid #ccc;
        color: #333;

        @media only screen and(max-width: 560px) {
          align-self: center;
          width: 75%;
          border-radius: 5px;
        }

        &:focus {
          box-shadow: 0 0 5px rgba(81, 203, 238, 1);
          border: 1px solid rgba(81, 203, 238, 1);
        }
      }

      ::-webkit-input-placeholder {
        color: #999;

        @media only screen and(max-width: 560px) {
          font-size: 13px;
        }
      }

      .button-wrapper {
        display: inline-block;
        height: 40px;

        @media only screen and(max-width: 560px) {
          align-self: center;
          margin-top: 10px;
          order: 3;
        }
      }

      &__button {
        @include font-style(16px, 'Roboto');
        width: 155px;
        line-height: 33.9px;
        background-color: transparent;
        border: 1px solid #cacaca;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        color: white;
        cursor: pointer;
        outline: none;

        @media only screen and(max-width: 1250px) {
          margin-left: -1px !important;
        }

        @media only screen and(max-width: 560px) {
          font-size: 12px;
          cursor: not-allowed;
          width: 116%;
          border-radius: 20px;
          line-height: 29.9px;
        }

        &:hover {
          background-color: crimson;
          opacity: 0.5;
        }
      }

      &--errors {
        @media only screen and(max-width: 560px) {
          order: 2;
          width: 75%;
          align-self: center;
          font-size: 12px;
        }
      }
    }
  }
}

.keyboardOpen {
  width: 1px;
  height: 1px;
}

.search-city__body__form__input.error {
  border: 1px solid #D8000C !important;
  //background-color: #FFBABA;
  box-shadow: none !important;
}
