@import "../mixins";

.search-results__nav {
  display: flex;
  justify-content: center;
  width: fit-content;
  height: 60px;
  background-color: transparent;

  &__items {
    width: 100%;
    height: 50px;
    align-self: center;
    border-radius: 3px;
    background-color: gray;
    opacity: 0.6;

    &__clear-city-boxes {
      @include font-style(16px, 'Roboto');
      margin: 0 20px;
      display: inline-block;
      cursor: pointer;
      float: right;
      line-height: 50px;
      color: white;
      transition: color 1s, font-size 1s;

      &:hover {
        text-decoration: underline;
        font-size: 18px;
        font-weight: bold;
        color: darkred;
      }
    }

    &--tag {
      margin-left: 20px;
      display: inline-block;
      width: 40px;
      height: 40px;
      align-self: center;
      cursor: pointer;
      line-height: 53px;
      border-radius: 50%;
      background-color: white;
      text-align: center;
      transition: background-color 2s ease;

      &:hover {
        background: linear-gradient(#EDFAFF, #BBE8FC);
      }
    }

    &__wrapper {
      @include font-style(14px, 'Roboto');
      width: fit-content;
      display: inline-block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      color: white;

      @media only screen and(max-width: 960px) {
        font-size: 12px;
      }
    }

    &__box {
      margin-left: 5px;
      display: inline-block;
      padding: 7px 5px;
      border-radius: 3px;
      background-color: #999999;
      transition: background-color 1s ease;

      &:hover {
        cursor: default;
        background-color: white;
        opacity: 0.5;
        font-weight: 700;
        transition: background-color 1s ease;
        color: black;
      }

      &--name {
        display: inline-block;
      }

      &--close:after {
        padding: 0 5px;
        display: inline-block;
        content: "\00d7";
        cursor: pointer;
      }

      &--close:hover:after {
        content: "\03a7";
      }
    }
  }
}

.small-screen {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
