@import "../city-weather/city-weather";
@import "../loader/loader";
@import "../mixins";

.search-results {
  background-color: #F8F8F8;

  &__functionalities {
    @include font-style(14px, 'Roboto');
    width: 70%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

    @media only screen and(max-width: 1200px) {
      width: 85%;
    }

    @media only screen and(max-width: 850px) {
      width: 100%;
    }

    &--sort-temp {
      @media only screen and(max-width: 490px) {
        display: flex;
        flex-direction: column;
        order: 2;
      }
    }

    &--sort-name {
      @media only screen and(max-width: 490px) {
        display: flex;
        flex-direction: column;
      }
    }

    &--sort-name, &--sort-temp, &--undo-sort {
      margin-bottom: 3px;
      align-self: flex-end;
      cursor: default;

      .mat-raised-button {
        line-height: 1;
        padding: 0;
        min-width: 50px;
        border-radius: 20px;
        background-color: #F8F8F8;
        box-shadow: none;
        outline: none;
      }

      .mat-mini-fab {
        background: #BBE8FC;
        outline: none;
      }
    }

    &--filter-name {
      height: 40px;
      align-self: center;

      @media only screen and(max-width: 490px) {
        order: 1;

        .mat-form-field {
          width: 110px;
        }
      }
    }
  }

  &__breakline {
    margin: 0;
  }

  &__body {
    padding: 70px 180px 0 230px;

    @media only screen and(max-width: 1275px) {
      padding: 50px 0 0 0;
    }
  }

  .city-weather__section {
    text-align: center;
    font-family: 'Roboto', sans-serif;


    &--message {
      margin-bottom: 20px;
      display: block;
      color: dimgray;
      font-size: 40px;
    }

    &--link {
      color: dimgray;
      font-size: 20px;
      text-decoration: none;

      &:hover {
        font-weight: bold;
      }
    }
  }
}

.custom-height {
  height: 100vh;
}

.afterRemovingWeatherItems {
  //padding-top: 120px;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}

.dialog-box {

  &__title {
    @include font-style(20px, 'Roboto');
    margin-bottom: 20px;
    line-height: 25px;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;

    .mat-mini-fab {
      min-width: 80px;
      outline: none;
    }
  }
}
