@import "welcome-header";
@import "../shared/smooth-pulse";
@import "welcome-terminal";

.welcome {
  height: 100vh;
  background-color: #34495e;

  &__header {
    height: 23vh;
  }

  &__body {

    &__terminal {
      background-color: #272727;
      height: 450px;
      display: flex;
      justify-content: center;

      &__inner {
        align-self: center;
      }
    }
  }
}
